<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Карта</title>
</head>
<head th:insert="blocks/head :: head"></head>
<body>
<div th:insert="blocks/nav :: nav"></div>
<main class="page projects-page mt-5">
    <section class="portfolio-block projects-with-sidebar">
        <div class="container">
            <div class="heading">
                <h2>Карта</h2>
            </div>
            <div class="row">
                <div class="col-12" align="justify"><p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing
                    elit. Delectus doloremque ea, eos fugit iste maxime molestiae nobis possimus praesentium provident
                    quibusdam ratione repellat sint suscipit, tenetur ut velit voluptatibus! Eaque.</p></div>
                <div class="col-12" align="center">
                    <iframe allowfullscreen="" frameborder="0" loading="lazy"
                            src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCGz6HJDVY9fht_jGVCprEpRCwZ8PSsqhc&amp;q=Minsk&amp;zoom=11"
                            width="75%" height="500"
                            style="box-shadow: 0 0 6px;border-radius: 5px;border: 1px solid rgb(255,255,255);width: 100%;margin-top: 15px;height: 500px;"></iframe>
                </div>
                <div class="col-12" align="justify"><p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing
                    elit. Ab, aliquam architecto asperiores consequuntur cupiditate deleniti deserunt esse est fugit
                    libero magnam neque nulla numquam quia reprehenderit soluta sunt, vel velit?</p></div>
                <div class="col-12" align="justify"><p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing
                    elit. Accusantium animi, aperiam, autem culpa cum debitis eius enim, hic illo ipsa iure laboriosam
                    odio officia optio quibusdam quos repellendus soluta tempore!</p></div>

            </div>
        </div>
    </section>
</main>
<script src="/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/pikaday.min.js"></script>
<script src="/js/theme.js"></script>
</body>

</html>