<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Мои данные</title>
</head>
<head th:insert="blocks/head :: head"></head>
<body>
<div th:insert="blocks/nav :: nav"></div>
<main class="page project-page mt-5">
    <section class="portfolio-block project">
        <div class="container">
            <div class="heading">
                <h2>Мои данные</h2>
            </div>
            <div th:if="${message}" class="alert alert-warning" role="alert">
                <strong th:text="${message}"></strong>
            </div>
            <div class="row">
                <div class="col">
                    <form style="margin-bottom: 20px;" action="/teacher/edit/photo" method="post" enctype="multipart/form-data">
                        <p class="lead">Изменить изображение</p>
                        <img th:src="'/img/' + ${user.teacher.photo}" width="100%"
                             loading="lazy"
                             style="border-radius: 50px;margin-bottom: 20px;">
                        <input class="form-control" type="file" accept="image/*" style="margin-bottom: 20px;" name="photo">
                        <button class="btn btn-warning" type="submit">Обновить</button>
                    </form>
                </div>
                <div class="col">
                    <form style="margin-bottom: 20px;" action="/teacher/edit" method="post">
                        <p class="lead">Изменить данные</p>
                        <p>ФИО</p>
                        <input class="form-control" type="text" required="" style="margin-bottom: 10px;"
                               name="fio" th:value="${user.teacher.fio}">
                        <p>Предмет</p>
                        <select class="form-select" style="margin-bottom: 10px;" required="" name="category">
                            <option th:each="c : ${categories}" th:value="${c.id}" th:label="${c.name}"
                                    th:selected="${c.name == user.teacher.category}"></option>
                        </select>
                        <p>Телефон</p>
                        <input class="form-control" type="tel" required="" style="margin-bottom: 10px;" name="tel"
                               th:value="${user.teacher.tel}">
                        <p>Опыт работы</p>
                        <input class="form-control" type="number" style="margin-bottom: 10px;"
                               required="" value="1" min="1" max="50" step="1" name="experience"
                               th:value="${user.teacher.experience}">
                        <button class="btn btn-warning" type="submit">Обновить</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
</main>
<script src="/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/pikaday.min.js"></script>
<script src="/js/theme.js"></script>
</body>

</html>